/* Variables */

:root {
    --smoky_black: #090c08;
    --eerie_black: #191919;
    --rich_black: #080705;
    --green_black: #07393c;
    --cadet: #5c6b73;
    --gunmetal: #253237;
    --light_cyan: #e0fbfc;
    --flame: #f15025;
    --english_violet: #474056;
    --red_violet: #912f40;
    --platinum: #e6e8e6;
    --charcoal: #40434e;
    --charcoal_blue: #364958;
    --baby_powder: #fffffa;
    --gold: #ddbe46;
    --middle_blue: #90ddf0;
    --light_gray: #ced0ce;
    --steel_teal: #55828b;
    --outer_space: #343f3e;
    --davys_grey: #505a5b;
    --manatee: #8f91a2;
}

/* General styling */

* {
    box-sizing: border-box;
}

body {
    background-color: var(--charcoal_blue);
    display: grid;
    height: 100vh;
    width: 100vw;
    font-family: "Ubuntu";
}

.body__nav {
    display: grid;
    grid-template-rows: 48px auto 48px;
    height: 100vh;
    width: 100vw;
}

p {
    color: var(--baby_powder);
}

.content {
    overflow: scroll;
}

footer {
    height: 48px;
}

hr {
    border-top: 1.5px solid var(--light_cyan);
    margin-bottom: 30px;
}

.badge__style {
    background-color: var(--manatee);
    color: var(--baby_powder);
    font-size: 1.1em;
    padding: 8px;
    margin: 6px;
    border-radius: 12px;
}

.badge__style--own {
    background-color: var(--steel_teal);
    color: var(--baby_powder);
    font-size: 1.1em;
    padding: 8px;
    margin: 6px;
    border-radius: 12px;
}

a.badge:hover {
    color: var(--gunmetal);
}

a.badge:focus {
    box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.festival-info {
    background-color: var(--steel_teal);
    height: auto;
    width: auto;
    border: 1.5px solid var(--cadet);
    border-radius: 20px;
    padding: 8px;
}

.festival-info__heading {
    color: var(--gunmetal);
    font: bold;
    border-bottom: 1px solid var(--cadet);
}

/* Auth styling */

.logo__auth {
    font-family: "Aclonica";
    text-align: center;
    font-size: 3em;
    color: var(--platinum);
    background-color: var(--steel_teal);
    border-radius: 40px;
    padding: 8px;
    width: 80%;
}

.card-body {
    background: var(--baby_powder);
}

.card-header {
    background-color: var(--gunmetal);
    color: var(--platinum);
}

.col-form-label {
    color: var(--gunmetal);
}

.form-check-label {
    color: var(--gunmetal);
}

/* Header styling */

header {
    font-family: "Aclonica";
    height: 48px;
    background-color: var(--gunmetal);
    margin-bottom: 12px;
}

.header__text {
    text-align: center;
    font-size: 2em;
    color: var(--platinum);
}

/* Card styling */

.festival-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    color: var(--gunmetal);
    background-image: linear-gradient(
        to right,
        var(--manatee),
        var(--platinum)
    );
}

.card-text {
    color: var(--charcoal);
}

.planner__element--heading {
    color: var(--baby_powder);
}

small {
    color: lightgray;
}

/* Button styling */

.btn-primary {
    background-color: var(--flame);
    color: white;
    border: 1px solid var(--rich_black);
}

.btn-link {
    color: var(--gunmetal);
    font-size: 0.9em;
    text-decoration: underline;
}

.btn__edit-profile {
    width: 100%;
    height: 36px;
    color: var(--baby_powder);
    background-color: var(--davys_grey);
    border: 1px solid var(--rich_black);
    border-radius: 12px;
    font: bold;
    font-size: 1.1em;
}

.btn__edit-planner {
    background-color: var(--davys_grey);
    border: 1px solid var(--gunmetal);
    color: var(--baby_powder);
    font-size: 0.7em;
}

/* Navbar-Styling */

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: var(--gunmetal);
    overflow-y: scroll;
    position: sticky;
    bottom: 0;
}

.nav__svg {
    width: 32px;
    height: 32px;
    fill: white;
}

/* Forms styling */

.form-control {
    background-color: var(--platinum);
    margin-bottom: 30px;
}

.form-control__date {
    background-color: var(--platinum);
    border-radius: 6px;
    border: none;
}

.form__label {
    color: var(--platinum);
    font: bold;
    font-size: 1.2em;
    margin-bottom: 0px;
}

/* Profile styling */

.auth__image {
    width: 100%;
    height: 35%;
}

.profile__image {
    width: 120px;
    height: 120px;
    border-radius: 30px;
    margin-right: 40px;
}

.profile__section {
    border-width: 1px;
    border-radius: 12px;
    border-style: solid;
    padding: 8px;
    border-color: var(--light_cyan);
    margin-bottom: 20px;
    background-color: var(--steel_teal);
    font-size: 1.1em;
}

.profile__section--heading {
    color: var(--baby_powder);
}

.box {
    height: 150px;
    width: 100%;
    background-color: lightgrey;
    color: black;
    padding: 8px;
}
