/* Variables */

:root {
    --smoky_black: #090c08;
    --eerie_black: #191919;
    --rich_black: #080705;
    --cadet: #5c6b73;
    --gunmetal: #253237;
    --light_cyan: #e0fbfc;
    --flame: #f15025;
    --english_violet: #474056;
    --red_violet: #912f40;
    --platinum: #e6e8e6;
    --charcoal: #40434e;
    --charcoal_blue: #364958;
    --baby_powder: #fffffa;
    --gold: #ddbe46;
    --middle_blue: #90ddf0;
    --light_gray: #ced0ce;
    --steel_teal: #55828b;
    --outer_space: #343f3e;
    --davys_grey: #505a5b;
}

/* General styling */

* {
    box-sizing: border-box;
}

body {
    /* background-color: rgb(41, 41, 41); */
    background-color: var(--charcoal_blue);
    display: grid;
    /* grid-template-rows: 48px auto 48px; */
    height: 100vh;
    width: 100vw;
    font-family: "Ubuntu";
}

.body--nav {
    /* background-color: rgb(41, 41, 41); */
    display: grid;
    grid-template-rows: 48px auto 48px;
    height: 100vh;
    width: 100vw;
}

p {
    color: var(--baby_powder);
}

.label--form {
    color: white;
    font: bold;
    font-size: 1.2em;
}

.content {
    overflow: scroll;
}

footer {
    height: 48px;
}

/* Header styling */

header {
    font-family: "Aclonica";
    height: 48px;
    background-color: var(--gunmetal);
    margin-bottom: 12px;
}

.header--text {
    text-align: center;
    font-size: 2em;
    color: var(--platinum);
    /* font: bold; */
}

/* Card styling */

.card-body {
    /* background-color: rgb(244, 242, 242); */
}

.card-header {
    background-color: lightgrey;
}

.festival-card {
    /* background-color: rgb(130, 130, 130); */
    background-color: var(--steel_teal);
    padding: 12px;
    color: var(--baby_powder);
    font-weight: 500;
    background-image: linear-gradient(
        to right,
        var(--outer_space),
        var(--cadet)
    );
}

small {
    color: lightgray;
}

/* Button styling */

.btn-primary {
    background-color: var(--flame);
    color: white;
    border-color: black;
}

.btn-link {
    color: black;
    font-size: 0.7em;
    text-decoration: underline;
}

.btn--edit-profile {
    width: 100%;
    height: 36px;
    color: black;
    background-color: var(--platinum);
    border-radius: 12px;
    font: bold;
    font-size: 1.1em;
}

/* Navbar-Styling */

.navbar {
    display: flex;
    justify-content: space-around;
    font-family: "Material Icons";
    /* height: 48px; */
    background-color: var(--gunmetal);
    overflow-y: scroll;
    position: sticky;
    bottom: 0;
}

.svg--nav {
    width: 36px;
    height: 36px;
    fill: white;
}

/* Forms styling */

.form-control {
    background-color: lightgrey;
}

/* Profile styling */

.image--auth {
    width: 100%;
    height: 35%;
}

.image--profile {
    width: 100px;
    height: 100px;
    background-color: lightgrey;
    border-radius: 50px;
}

.profile-element {
    border-width: 2px;
    border-radius: 12px;
    border-style: solid;
    padding: 8px;
    border-color: lightgrey;
    margin-bottom: 20px;
}

.box {
    height: 150px;
    width: 100%;
    background-color: lightgrey;
    color: black;
    padding: 8px;
}
